<!DOCTYPE html>
<html>
	<head>
		<title>Michael Stone</title>
		<link rel="stylesheet" type="text/css" href="../static/style.css">

	</head>

	<body>

		<div id = "navDiv">
			<ul id = "navBar">
	 			<li class = "navList"><a class = "navCat active" href="/Experience">Experience</a></li>
	  			<li class = "navList"><a class = "navCat" href="/Projects">Projects</a></li>
	  			<li class = "navList"><a class = "navCat" href="/Coursework">Course Work</a></li>
	  			<li class = "navList"><a class = "navCat" href="/About">About</a></li>
			</ul>

		</div>
		<hr>
		<div id = "siteDiv">

			<div id = "portfolioDiv">
				<img id = "portfolioPic" src="../static/images/portfolioPic.png">
			</div>

			<div id = "quickInfo">
				<h1>Michael Stone</h1>
				<h2>Columbia University 2021</h2>
				<h2>Computer Engineering</h2>
			</div>
		</div>
		
	</body>

</html>